header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-4);
    font-size: 1.5em;
    font-family: var(--fonte-um);
    color: var(--cor-2);
    padding: 10px 0;
    text-align: center;
    
}

header img{
    width: 10%;
    border-radius: 12px;
}

/* Estilos para a navegação em desktop/tablet */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: var(--cor-2);
    text-decoration: none;
    margin: 0 15px;
}

/* Estilos para o menu hamburguer em celular */
.menu-hamburguer {
    display: none;
    /* Escondido por padrão */
}

@media only screen and (max-width: 768px) {

    /* Mostrar o menu hamburguer e esconder a navegação em tablet e celular */
    nav {
        display: none;
    }

    header img{
        width: 30%;
        position: relative;
    }

    .menu-hamburguer {
        display: block;
        text-align: right;
        padding: 10px;
    }

    .menu-hamburguer button {
        background-color: var(--cor-4);
        font-size: 1.5em;
        color: var(--cor-2);
        border: none;
        padding: 15px 20px;
        cursor: pointer;

    }

    .menu-hamburguer ul {
        display: none;
        /* Escondido por padrão */
        list-style: none;
        padding: 0;
        position: absolute;
        right: 1%;
        background-color: var(--cor-4);
        width: 40%;
    }

    .menu-hamburguer ul li {
        padding: 10px;
    }
    .menu-hamburguer ul li a {
        text-decoration: none;
        color: var(--cor-2);
        font-family: var(--fonte-um);
    }
}
