
.personagens-titulo{
    font-family: var(--fonte-tres);
    background-color: var(--cor-5);
    color: var(--cor-6);
    padding: 1em 2em;
    text-align: center;
    font-size: 5em;
}
.personagens-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-conteudo{
    background-color: var(--cor-3);
    display: flex;
    align-items: center;
    margin: 2em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--cor-5);
}
.card-conteudo:nth-child(5){
    grid-column: 1 / 3;
    justify-self: center;
    width: 50%;
}
.card-conteudo_titulo{
    font-size: 2em;
    font-family: var(--fonte-um);
}
.card-conteudo_texto{
    font-size: 1.5em;
    padding: 0.5em 1.5em 0.5em 0;
}
.card-img{
    width: 30%;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .personagens-titulo{
        font-size: 3em;
    }
    
    .personagens-card{
        display: flex;
        flex-direction: column;
    }

    .card-conteudo{
        flex-direction: column;
    }
    .card-conteudo:nth-child(5){
        width: auto;
    }
    .card-conteudo_titulo,
    .card-conteudo_texto{
        text-align: center;
    }
    .card-img{
        width: 70%;
    }
    
}
